body{
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
}
.ch{
  background-color: #f0f0f0;
  margin: 20px;
  padding: 20px;

  width: 200px;
  border: 3px solid #ccc;
  border-radius: 10px;
  text-align: center;
}
.card{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.ch button{
  background-color: lightblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.ch img{
  width: 100%;
  height: auto;
  border-radius: 30px;
}